<div>
  <div class="row align-items-center item">
    <div class="col-12">
      <ngx-skeleton-loader
        count="1"
        animation="progress"
        [theme]="{
          height: '50px'
        }"
      ></ngx-skeleton-loader>
    </div>
  </div>
  <div class="row align-items-center item">
    <div class="col-12">
      <ngx-skeleton-loader
        count="1"
        animation="progress"
        [theme]="{
          height: '50px'
        }"
      ></ngx-skeleton-loader>
    </div>
  </div>
  <div class="row align-items-center item">
    <div class="col-12">
      <ngx-skeleton-loader
        count="1"
        animation="progress"
        [theme]="{
          height: '70px'
        }"
      ></ngx-skeleton-loader>
    </div>
  </div>
</div>
