<div class="card shadow-sm">
  <div class="card-header">
    <div class="card-title">
      <h1>Connectors</h1>
    </div>
    <div class="card-toolbar">
      <a
        (click)="viewStatus()"
        matTooltip="Connector's Status"
        title="Connector's Status"
        class="btn btn btn-success me-2"
      >
        <i class="fas fa-info-circle fs-4 me-2"></i>Status
      </a>
    </div>
  </div>
</div>

<div class="card shadow-sm mt-5">
  <div class="card-header">
    <h3 class="card-title">Pos Connectors</h3>
    <div class="card-toolbar">
      <a
        (click)="AddOrUpdateConnector()"
        matTooltip="Add New"
        title="Add Language"
        class="btn btn btn-light me-2"
      >
        <i class="fas fa-plus fs-4 me-2"></i>Add New
      </a>
    </div>
  </div>
  <div class="card-body d-flex justify-content-center">
    <div class="table-responsive w-100">
      <table
        id="tblLangauges"
        class="table table-striped table-hover table-row-bordered border g-2"
      >
        <thead>
          <tr class="fw-bold fs-6 text-muted pt-2">
            <th class="w-30">Name</th>
            <th class="w-30">Vendor</th>
            <th class="w-30">Version</th>
            <th class="w-30">Id</th>
            <th class="w-10 text-center">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of gridData">
            <td class="ml-5">
              <label class="col-form-label">{{ row.displayName }}</label>
            </td>
            <td class="ml-5">
              <label class="col-form-label">{{ row.vendor }}</label>
            </td>
            <td class="ml-5">
              <label class="col-form-label">{{ row.integrationVersion }}</label>
            </td>
            <td class="ml-5">
              <label class="col-form-label">{{ row.id }}</label>
            </td>
            <td class="text-center" valign="middle">
              <a
                (click)="SyncPOS(row)"
                matTooltip="Sync Setting"
                class="btn btn-icon btn-active-color-primary btn-sm me-1"
              >
                <span
                  [inlineSVG]="'./assets/media/icons/duotune/coding/cod001.svg'"
                  class="svg-icon svg-icon-3"
                ></span>
              </a>
              <a
                (click)="AddOrUpdateConnector(row)"
                matTooltip="Edit Connector"
                class="btn btn-icon btn-active-color-primary btn-sm me-1"
              >
                <span
                  [inlineSVG]="'./assets/media/icons/duotune/art/art005.svg'"
                  class="svg-icon svg-icon-3"
                  fill="none"
                ></span>
              </a>
              <a
                (click)="RemoveConnector(row)"
                matTooltip="Remove Connector"
                class="btn btn-icon btn-active-color-danger btn-sm me-1"
              >
                <span
                  [inlineSVG]="
                    './assets/media/icons/duotune/general/gen027.svg'
                  "
                  class="svg-icon svg-icon-danger svg-icon-3"
                ></span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
