<div>
  <div class="row align-items-center item">
    <div class="col-1">
      <ngx-skeleton-loader
        count="1"
        animation="progress"
        appearance="circle"
        [theme]="{
          width: '70px',
          height: '70px',
          'border-radius': '10px'
        }"
      >
      </ngx-skeleton-loader>
    </div>
    <div class="col-11">
      <ngx-skeleton-loader
        count="1"
        animation="progress"
        [theme]="{
          height: '50px'
        }"
      ></ngx-skeleton-loader>
    </div>
  </div>
  <div class="row align-items-center item">
    <div class="col-1">
      <ngx-skeleton-loader
        count="1"
        appearance="circle"
        [theme]="{
          width: '70px',
          height: '70px',
          'border-radius': '10px'
        }"
      >
      </ngx-skeleton-loader>
    </div>
    <div class="col-11">
      <ngx-skeleton-loader
        count="1"
        animation="progress"
        [theme]="{
          height: '50px'
        }"
      ></ngx-skeleton-loader>
    </div>
  </div>
  <div class="row align-items-center item">
    <div class="col-1">
      <ngx-skeleton-loader
        count="1"
        appearance="circle"
        [theme]="{
          width: '70px',
          height: '70px',
          'border-radius': '10px'
        }"
      >
      </ngx-skeleton-loader>
    </div>
    <div class="col-11">
      <ngx-skeleton-loader
        count="1"
        animation="progress"
        [theme]="{
          height: '70px'
        }"
      ></ngx-skeleton-loader>
    </div>
  </div>
</div>
