<div>
  <div class="row align-items-center item">
    <div class="col-8">
      <ngx-skeleton-loader
        count="1"
        animation="progress"
        appearance="circle"
        [theme]="{
          width: '100%',
          height: '450px',
          'border-radius': '10px'
        }"
      >
      </ngx-skeleton-loader>
    </div>
    <div class="col-4">
      <ngx-skeleton-loader
        count="1"
        animation="progress"
        appearance="circle"
        [theme]="{
          width: '100%',
          height: '450px',
          'border-radius': '10px'
        }"
      >
      </ngx-skeleton-loader>
    </div>
  </div>
</div>
