<form
  [formGroup]="itemForm"
  (ngSubmit)="onSubmit()"
  needs-validation
  novalidate
  enctype="multipart/form-data"
  (keydown.enter)="$event.preventDefault()"
  *ngIf="formReady"
>
  <div class="card shadow-sm mb-10">
    <div class="card-header">
      <h4 class="card-title">Edit Modifier</h4>
      <div class="card-toolbar">
        <app-save-cancel-button
          class="me-2"
          [formDisabled]="false"
          [saving]="false"
          [backURL]="
            '/location/' + locationId + '/kiosk-designer/menu?tab=' + tab
          "
          (saveButtonClickedEvent)="onSubmit()"
        ></app-save-cancel-button>
      </div>
    </div>
    <div class="card-body max-h-50">
      <div class="row">
        <div class="col">
          <h2>
            {{ menuItem?.pos?.name }}
            <app-entity-id-badge
              *ngIf="menuItem?.pos?.id"
              [entityId]="menuItem?.pos?.id"
            >
            </app-entity-id-badge>
          </h2>
          <h4>${{ menuItem?.price }}</h4>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-10">
              <label for="displayName" class="form-label">Display Name</label>
              <input
                type="text"
                class="form-control"
                formControlName="displayName"
                placeholder="Name"
                required
              />
            </div>
            <div class="col-md-2">
              <label for="isActive" class="form-label d-block"> Status </label>
              <app-grubbrr-switch-form-control formControlName="isActive">
              </app-grubbrr-switch-form-control>
            </div>
          </div>
          <div class="mt-4">
            <label for="description" class="form-label">Description</label>
            <textarea
              class="form-control"
              formControlName="description"
              rows="5"
              placeholder="{{ descriptionPlaceholderText }}"
            ></textarea>
          </div>
          <div class="mt-4">
            <label for="calorieText" class="form-label">Calorie Label</label>
            &nbsp;<i
              class="fas fa-circle-question fa"
              matTooltip="
            This is a calorie text that will show under the item or modifier (example: “100 cal”)"
            ></i>
            <input
              type="text"
              maxlength="25"
              class="form-control"
              formControlName="calorieText"
              placeholder="Calorie Label"
            />
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6">
              <app-image-upload-control
                restrictionsText="JPG, PNG, GIF, or WEBP up to 2MB, Min. pixels 320 for width and height required"
                formControlName="image"
                label="Default Image"
              >
              </app-image-upload-control>
            </div>
            <div class="col-md-6">
              <app-image-upload-control
                restrictionsText="JPG, PNG, GIF, or WEBP up to 2MB, Min. pixels 320 for width and height required"
                formControlName="selectedImage"
                label="Selected Image"
                toolTip="You can configure an image to show on the kiosk for when this modifier is selected by the user"
              >
              </app-image-upload-control>
              <div class="col-md-10 mt-10">
                <label for="selectedDisplayName" class="form-label">
                  Selected Display Name</label
                >
                <input
                  type="text"
                  class="form-control"
                  formControlName="selectedDisplayName"
                  placeholder="Display Name"
                  required
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-3">
        <app-modifier-group-list-editor
          [availableItems]="allModifierGroups"
          [locationId]="locationId"
          formControlName="modifierGroups"
        >
        </app-modifier-group-list-editor>
      </div>
    </div>
  </div>
</form>
