.tip-card-left {
  height: 300px;
  display: inline-block;
}
.single-column {
  width: 375px !important;
}
.radio-button {
  width: 30px;
  height: 30px;
  margin-left: 25px !important;
  margin-top: 9px !important;
}
.checkbox-1 {
  width: 302px !important;
}
.checkbox-container {
  display: flex;
}
