<div *ngIf="!loaded">
  <app-list-skeleton></app-list-skeleton>
</div>
<ng-container *ngIf="loaded">
  <div class="d-flex mb-4">
    <div class="d-flex flex-grow-1">
      <div class="w-100 form-floating mb-3">
        <input
          class="form-control"
          id="orderTableSearch"
          placeholder="Search Modifiers"
          [(ngModel)]="searchQuery"
          (input)="onChangeSearch()"
        />
        <label for="orderTableSearch">Search Modifiers</label>
      </div>
    </div>
    <div class="ms-2">
      <select
        class="form-select status-dropdown"
        name="items"
        [(ngModel)]="filterAction"
        (change)="changeStatusFilter()"
      >
        <option value="1">Active</option>
        <option value="0">Inactive</option>
        <option value="2">All</option>
      </select>
    </div>
  </div>
  <div class="d-flex mb-4">
    <div class="d-flex flex-grow-2">
      <select
        class="form-select"
        name="country"
        [(ngModel)]="bulkActionStatus"
        [disabled]="selection.selected.length === 0"
      >
        <option value="2" disabled>Bulk Actions</option>
        <option value="1">Activate</option>
        <option value="0">Deactivate</option>
      </select>
    </div>
    <div>
      <button
        [disabled]="bulkActionStatus === 2 || selection.selected.length === 0"
        class="btn btn-success ms-2"
        (click)="applyBulkAction()"
      >
        <span class="indicator-label">Apply</span>
      </button>
    </div>
  </div>
  <div class="mt-5" *ngIf="!displayedItems.length">
    <p *ngIf="!items.length">There are no modifiers in the system.</p>
    <p *ngIf="items.length > 0">
      There are no {{ filterAction === 1 ? "active" : "inactive" }} modifiers
      available.
    </p>
  </div>
  <table
    *ngIf="displayedItems && displayedItems.length > 0"
    class="table table-borderless gx-5 kiosk-designer-table"
  >
    <thead>
      <th>
        <input
          type="checkbox"
          (change)="toggleAllRows()"
          [checked]="isAllSelected()"
        />
      </th>
      <th scope="col" class="text-uppercase text-center">Image</th>
      <th scope="col" class="text-uppercase">Name</th>
      <th scope="col" class="text-uppercase">Display Name</th>
      <th scope="col" class="text-uppercase">Price</th>
      <th scope="col" class="text-uppercase text-center">Status</th>
      <th scope="col" class="text-uppercase text-center">Actions</th>
    </thead>
    <tbody>
      <tr *ngFor="let item of displayedItems">
        <td>
          <input
            type="checkbox"
            (change)="selection.toggle(item.id)"
            [checked]="selection.isSelected(item.id)"
          />
        </td>
        <td style="width: 80px" class="">
          <app-entity-row-image [imageUrl]="item.image"> </app-entity-row-image>
        </td>
        <td class="">
          <h5>{{ item.pos?.name }}</h5>
          <p class="m-0">
            <app-entity-id-badge [entityId]="item.id"> </app-entity-id-badge>
          </p>
        </td>
        <td class="">
          <strong>{{ item.displayName }}</strong>
        </td>
        <td class="">
          {{ item.price | currency }}
        </td>
        <td class="text-center align-middle">
          <app-grubbrr-switch
            [value]="item.isActive"
            (switchValueChange)="onChangeActiveStatus(item, $event)"
          >
          </app-grubbrr-switch>
        </td>
        <td class="text-center align-middle">
          <a
            routerLink="/location/{{
              locationId
            }}/kiosk-designer/menu/modifier/{{ item.id }}"
            [queryParams]="{ tab: '5' }"
          >
            <i class="far fas fa-pen fs-1 mb-2"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
  <app-paginatotron
    [hidden]="displayedItems && displayedItems.length === 0"
    [(index)]="pageIndex"
    [pageSize]="perPage"
    [items]="filteredItems"
    (pageOfItemsEvent)="setDisplayedItems($event)"
  >
  </app-paginatotron>
</ng-container>
