<div class="card shadow-sm">
  <div class="card-header">
    <h3 class="card-title">Company List</h3>
    <div class="card-toolbar">
      <a
        routerLink="/admin/company/add"
        class="btn btn-sm btn-light me-2"
        data-bs-toggle="tooltip-dark"
        data-bs-placement="top"
        title="Add A New Company"
      >
        <i class="fas fa-plus fs-4 me-2"></i>Add New
      </a>
    </div>
  </div>
  <div class="card-body">
    <div *ngIf="!contentLoaded">
      <app-table-skeleton></app-table-skeleton>
    </div>
    <div class="table-responsive" *ngIf="contentLoaded" [@inOutAnimation]>
      <p-table
        responsiveLayout="scroll"
        dataKey="id"
        editMode="row"
        [value]="Companies"
        #dtItems
        [rows]="50"
        [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10, 25, 50, 100]"
        [loading]="!contentLoaded"
        styleClass="p-datatable-customers p-datatable-gridlines p-datatable-striped p-datatable-sm"
        [paginator]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} companies"
        [globalFilterFields]="[
          'companyName',
          'companyPhone',
          'companyEmail',
          'countryName'
        ]"
      >
        <ng-template pTemplate="caption">
          <div class="d-flex flex-row mb-3">
            <div class="p-2 flex-grow-1">
              <span class="p-input-icon-left p-ml-auto">
                <i class="pi pi-search"></i>
                <input
                  #filter
                  pInputText
                  type="text"
                  (input)="dtItems.filterGlobal(filter.value, 'contains')"
                  placeholder="Company Name"
                />
              </span>
            </div>
            <div class="p-2 pe-2">
              <button
                pButton
                label="Clear"
                pTooltip="Reset filters"
                (click)="clear(dtItems, filter)"
                class="p-button-outlined"
                icon="pi pi-filter-slash"
                tooltipPosition="bottom"
              ></button>
            </div>
          </div>
        </ng-template>

        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="companyName">
              Name
              <p-sortIcon field="companyName"></p-sortIcon>
            </th>
            <th>Phone</th>
            <th pSortableColumn="companyEmail">
              Email
              <p-sortIcon field="companyEmail"></p-sortIcon>
            </th>
            <th pSortableColumn="countryName">
              Country
              <p-sortIcon field="countryName"></p-sortIcon>
            </th>
            <th>Action</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-company>
          <tr>
            <td>
              <button
                (click)="
                  navigateToCompany(company.companyId, company.companyName)
                "
                class="btn btn-sm btn-primary me-2"
              >
                {{ company.companyName }}
              </button>
            </td>
            <td>{{ company.companyPhone }}</td>
            <td>{{ company.companyEmail }}</td>
            <td>
              {{ company.countryName }}
            </td>
            <td class="text-center" valign="middle">
              <a
                [routerLink]="['/admin/company', company.companyId]"
                class="btn btn-icon btn-active-color-primary btn-sm me-1"
              >
                <span
                  [inlineSVG]="'./assets/media/icons/duotune/art/art005.svg'"
                  class="svg-icon svg-icon-3"
                  fill="none"
                ></span>
              </a>
              <a
                (click)="
                  openDeactiveModal(company.companyId, company.companyName)
                "
                class="btn btn-icon btn-active-color-danger btn-sm me-1"
              >
                <span
                  [inlineSVG]="
                    './assets/media/icons/duotune/abstract/abs009.svg'
                  "
                  class="svg-icon svg-icon-success svg-icon-3"
                ></span>
              </a>
              <a
                (click)="
                  navigateToCompanyLocations(
                    company.companyId,
                    company.companyName
                  )
                "
                aria-label="View Company Locations"
                class="btn btn-icon btn-active-color-primary btn-sm me-1"
              >
                <span
                  [inlineSVG]="
                    './assets/media/icons/duotune/finance/fin001.svg'
                  "
                  class="svg-icon svg-icon-3"
                  fill="none"
                ></span>
              </a>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
