<div class="d-flex flex-column w-100 gap-5">
  <div class="card shadow-md mb-1">
    <div class="card-header">
      <h1 class="card-title font-weight-bold fs-2">Loyalty</h1>
    </div>
  </div>

  <div class="card shadow-sm" *ngIf="!loading">
    <div class="card-header">
      <h4 class="card-title fs-5">Loyalty Tender Mapping</h4>
    </div>
    <div class="card-body">
      <div class="row col-sm-6">
        <select
          class="col-form-select"
          id="tenderOptions"
          [(ngModel)]="loyaltyConfiguration.tender"
        >
          <option *ngFor="let opt of sortDiscounts()" [value]="opt.id">
            {{ opt.name }} - ({{ opt.id }})
          </option>
        </select>
      </div>
    </div>
  </div>

  <div *ngIf="!loading">
    <div *ngIf="IntegrationType === Integrations.Punchh">
      <app-punchh
        [Config]="loyaltyConfiguration"
        [LocationId]="locationId"
      ></app-punchh>
    </div>
    <div *ngIf="IntegrationType === Integrations.Paytronix">
      <app-paytronix
        [Config]="loyaltyConfiguration"
        [LocationId]="locationId"
      ></app-paytronix>
    </div>
    <div *ngIf="IntegrationType === Integrations.None">
      <div>There are no integrations enabled</div>
    </div>
  </div>
</div>
