.required-asterisk {
  color: red;
}

.image-upload {
  flex: 0 0 auto;
  width: 56%;
  padding-bottom: 1rem;
}

.title {
  margin-bottom: 0.5rem;
  font-size: 1.05rem;
  font-weight: 500;
  color: #333333;
  font-weight: 600;
}

.text-blue {
  color: #009ef7;
  font-weight: 500;
}

.form-check.form-check-toggle {
  margin-top: 1.25rem;
}

.text-image-requirements {
  margin-top: 0.5rem;
}
