<div class="d-flex flex-stack flex-wrap">
  <ul class="pagination">
    <li (click)="pageDown()" class="page-item previous">
      <a class="page-link cursor-pointer">
        <i class="previous"></i>
      </a>
    </li>
    <li
      *ngFor="let pg of clickablePages"
      [ngClass]="{ 'page-item': true, active: index === pg }"
      (click)="setPage(pg)"
    >
      <a class="page-link cursor-pointer">
        {{ pg + 1 }}
      </a>
    </li>

    <li (click)="pageUp()" class="page-item next">
      <a class="page-link cursor-pointer">
        <i class="next"></i>
      </a>
    </li>
  </ul>
</div>
