<div class="modal-content">
  <div class="modal-header">
    <div class="d-flex flex-column">
      <h4 class="modal-title mb-2">Order Type Rule</h4>
      <h6>Only show the group for these order types</h6>
    </div>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      aria-label="Close"
      (click)="close()"
    ></button>
  </div>
  <div class="modal-body">
    <h4>Only show this group for</h4>
    <div *ngIf="!Loaded">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <div *ngIf="Loaded">
      <div class="form-check mb-3" *ngFor="let OrderType of OrderTypes">
        <input
          class="form-check-input"
          type="checkbox"
          id="OrderType.id"
          (input)="HandleInput($event, OrderType)"
          [checked]="OrderType?.checked"
        />
        <label class="form-check-label" for="flexCheckDefault">
          {{ OrderType.label }}
        </label>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-secondary"
      (click)="close()"
      data-bs-dismiss="modal"
    >
      Close
    </button>
    <button type="button" class="btn btn-primary" (click)="save()">
      Save changes
    </button>
  </div>
</div>
